.bottom-section {
    height: 75px;
    background-color: #222F33;
}

.email {
    font-size: 12px;
    opacity: 0.6;
}

.cookies {
    display: inline-block;
    opacity: 0.6;
    padding-right: 30px;
}

.privacybeleid {
    display: inline-block;
    opacity: 0.6;
    padding-right: 40px;
}

.bottom-section-flex-box {
    padding-left: 50px;
    height: 75px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .bottom-section-flex-box {
        justify-content: space-evenly;
        padding-left: 0px;
    }

    .info-links {
        display: none;
    }
}