body {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    color: white;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-section {
    margin: 0 auto;
    max-width: 803px;
}


@media screen and (max-width: 1024px) {
    .main-section {
        padding: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }
}