.second-page {
    height: 399px;
    width: 1000px;
    background-color: white;
}

.second-page-division {
    display: flex;
}

.second-page-text-block {
    display: inline-block;
    width: 400px;
    height: 275px;
    padding-top: 56px;
    padding-right: 50px;
}

.second-page-text-block-header {
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 900;
    color: var(--color-dark-green, #222F33);
}

.second-page-text-block-content {
    color: var(--greys-light-grey, #646D70);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 10px;
    padding-bottom: 41px;
}

.second-page-text-block-button {
    width: 90px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid var(--greys-light-grey, #646D70);
    font-size: 12px;
    color: #606B74;
    text-align: center;
    font-weight: 500;
    background-color: white;
}